.main{
    background-color: rgb(240, 134, 134);
    display: block;
    text-align: center;
}
.header{
    background-color: rgb(178, 159, 245);
    display: block;
    text-align: center;
    text-decoration-color: aliceblue;
}
.content{
    background-color: rgb(139, 236, 176);
    display: inline-block;
    width: 20%;
    padding: 300px;
}
.sidebar{
    background-color: rgb(1, 88, 35);
    display: inline-block;
    width: 20%;
    padding: 100px;
    
}