.menu{
    background: #EEE685;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
}

a:link{
    color: #b9c941;
    text-decoration: none;
}

a:visited{
    color: #458B00;
}

a:hover{
    color: #8B4726;
}

a:active{
    color: #FF1493;
}