body { 
	padding: 15px; 
	background:#eee; 
	font-family: Arial, Helvetica, sans-serif;
}

.menu{
    margin-top: 25px;
    padding: 0px;
    list-style: none;
    border: 1px solid #c0c0c0;
    display: flex;
    background: rgba(255,255,255,0.5);  
    justify-content: center;  
}
.menu li{
    display: inline-block;
    margin: 0px;
    position: relative;
    float: right;
    border-right: 1px solid #c0c0c0;   
}
.menu li a{
    color:#333; 
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;  
}

.tamanhoTela span {
	color: #666;
	display: none;
}

/* max-width  */
@media screen and (max-width: 600px) {
	
	.teste {
		background: #F9C;
	}

	span.lt600 {
		display: inline-block;
	}
}

/* min-width */
@media screen and (min-width: 900px) {

	.teste {
		background: #F90;
	}

	span.gt900 {
		display: inline-block;
	}
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
	
	.teste {
		background: #9CF;
	}

	span.bt600-900 {
		display: inline-block;
	}
}
